.dark-mode {
    background-color: #333;
    color: #fff;
  }
  
  .light-mode {
    background-color: #fff;
    color: #333;
  }
  
  .mode-button {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
  }
  